{% extends 'base.html' %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Send Feedback</h3>
            </div>
        </div>
    </div>
            <div class="card-body">
                <div class="col-12">
                    <div class="col-auto text-right float-right ml-auto">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Feedback History
                        </button>
                    </div>
                </div>
            <form method="POST" action="{% url 'staff_feedback' %}">
                {% csrf_token %}
                <div class="row">
                
                <div class="col-sm-11">
                    <div class="form-group">
                        <label>Leave Message</label>
                        <textarea class="form-control"  name='feedback' style="height:250px;" required></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Send Feedback</button>
                </div>
            </div>
            </form>
            </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-center mb-0 ">
                <thead>
                    <tr>
                        <th>message</th>
                        <th>Reply</th>
                    </tr>
                </thead>
            
        {% for feed in feedbacks %}
        <tbody>
            <tr>
                <td>{{feed.feedback}}</td>
                {% if feed.feedback_reply == "" %}
                <td><span class='badge badge-danger'> No reply </span></td>
                {% else %}
                <td>{{feed.feedback_reply}}</td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock  %}
    