<script>

    $(document).ready(function() {

        var options = {
            series: [{{students}}, {{staffs}},{{subjects}}, {{courses}}],
            chart: {
                height: 350,
                width: '100%',
            type: 'pie',
          },
          labels: ['Student', 'Staff', 'Subject', 'Course'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
          };
  
          var chart = new ApexCharts(document.querySelector("#all_details"), options);
          chart.render();

        if ($('#Stud_gender').length > 0) {
            var optionsBar = {
                chart: {
                    type: 'bar',
                    height: 350,
                    width: '100%',
                    stacked: true,
                    toolbar: {
                        show: false
                    },
                },
                dataLabels: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                    }
                },
                series: [{
                    name: "Boys",
                    color: '#fdbb38',
                    data: [{{student_male}}],
                }, {
                    name: "Girls",
                    color: '#19affb',
                    data: [{{student_female}}],
                }],
                labels: [2024],
                xaxis: {
                    labels: {
                        show: false
                    },
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    labels: {
                        style: {
                            colors: '#777'
                        }
                    }
                },
                title: {
                    text: '',
                    align: 'left',
                    style: {
                        fontSize: '18px'
                    }
                }
        
            }
            var chartBar = new ApexCharts(document.querySelector('#Stud_gender'), optionsBar);
            chartBar.render();
    }
    
});
</script>