{% load active_link_tags %}
<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         {% if user.user_type == "1" %}
         <ul class="menu-content">
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'hod_home' %}" >
               <a href="{% url 'hod_home' %}"> <span>Dashboard</span></a>
            </li>
            <li class="submenu {% active_link 'add_student' %} {% active_link 'view_student' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_student' %}">Add student</a></li>
                  <li><a href="{% url 'view_student' %}">View Students</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'add_staff' %} {% active_link 'view_staff' %}">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                  <li><a href="{% url 'view_staff' %}">Staff List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'add_course' %} {% active_link 'view_course' %}">
               <a href="#"><i class="fas fa-graduation-cap"></i> <span> Courses</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_course' %}">Add Courses</a></li>
                  <li><a href="{% url 'view_course' %}">View Courses</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'add_subject' %} {% active_link 'view_subject' %}">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'view_subject' %}">Subject List</a></li>
                  <li><a href="{% url 'add_subject' %}">Add Subject </a></li>
               </ul>
            </li>
            <li>
               <a href="{% url 'feedback' %}"><i class="fas fa-comments"></i> <span>Student/Staff Feedback</span></a>
            </li>
            <li>
               <a href="{% url 'leaves' %}"><i class="fas fa-envelope"></i> <span>Staff Leave</span></a>
            </li>
            <li>
               <a href="{% url 'student_leaves' %}"><i class="fas fa-envelope"></i> <span>Student Leave</span></a>
            </li>
            <li>
               <a href="{% url 'notifications' %}"><i class="far fa-bell"></i> <span>Send Notification</span></a>
            </li>
            <li class="menu-title">
               <span>Management</span>
            </li>
         <li>
            <a href="{% url 'Timetable' %}"><i class="fas fa-table"></i> <span>Time Tables</span></a>
            </li>
            <li >
               <a href="{% url 'library' %}"><i class="fas fa-book"></i> <span>Library</span></a>
         </li>
            <li>
               <a href="{% url 'holiday_list' %}"><i class="fas fa-holly-berry"></i> <span>Holidays List</span></a>
            </li>
            
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
            </li>
         </ul>
         {% elif user.user_type == '2' %}
         <ul class="menu-content">
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
               <a href="{% url 'staff_home' %}"> <span>Dashboard</span></a>
            </li>
            <li>
               <a href="{% url 'view_students' %}"> <i class="fas fa-user-graduate"></i> <span> Students </span></a>
            </li>
            <li>
               <a href="{% url 'view_faculties' %}"> <i class="fas fa-chalkboard-teacher"></i> <span> Co-Faculities</span></a>
            </li>
            <li>
               <a href="{% url 'Take_attendance' %}"> <i class=" fas fa-calendar-alt"></i> <span> Take Attendance </span></a>
            </li>
            <li>
               <a href="{% url 'view_attendance' %}"> <i class=" fas fa-calendar-alt"></i> <span> view/update Attendance </span></a>
            </li>
            <li>
               <a href="{% url 'Add_result' %}"> <i class=" fas fa-poll-h "></i> <span> Add result </span></a>
            </li>
            <li>
               <a href="{% url 'apply_leave' %}"> <i class=" fas fa-envelope-open"></i> <span> Apply for Leave </span></a>
            </li>
            <li>
               <a href="{% url 'staff_feedback' %}"> <i class=" fas fa-envelope-open"></i> <span> Send Feedback </span></a>
            </li>
            <li>
               <a href="{% url 'view_notifications' %}"> <i class=" fas fa-bell"></i> <span>Notifications</span></a>
            </li>
            <li class="menu-title">
               <span>Management</span>
            </li>
            <li>
               <a href="{% url 'student_activity' %}"><i class="fas fa-clipboard-list"></i> <span>Add Student Activities</span></a>
            </li>
            <li>
               <a href="{% url 'Timetable' %}"><i class="fas fa-table"></i> <span>Time Table</span></a>
            </li>
            <li >
                  <a href="{% url 'library' %}"><i class="fas fa-book"></i> <span>Library</span></a>
            </li>
            <li>
                  <a href="{% url 'holiday_list' %}"><i class="fas fa-holly-berry"></i> <span>Holidays List</span></a>
               </li>
            <li>
               <a href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> <span> Logout </span></a>
            </li>
         </ul>
         {% else %}
         <ul class="menu-content">
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
               <a href="{% url 'student_home' %}"> <span>Dashboard</span></a>
            </li>
            <li>
               <a href="{% url 'view_faculty' %}"><i class="fas fa-chalkboard-teacher"></i> <span> Faculties</span></a>
            </li>
            <li>
               <a href="{% url 'student_view_attendance' %}"> <i class=" fas fa-calendar-alt"></i> <span> view Attendance </span></a>
            </li>
            <li>
               <a href="{% url 'view_result' %}"> <i class="fas fa-poll-h "></i> <span> view Result </span></a>
            </li>
            <li>
               <a href="{% url 'student_leave' %}"> <i class=" fas fa-envelope-open"></i> <span> Apply for Leave </span></a>
            </li>
            <li>
               <a href="{% url 'student_feedback' %}"> <i class=" fas fa-envelope-open"></i> <span> Send Feedback </span></a>
            </li>
            
            
            <li class="menu-title">
               <span>Management</span>
            </li>
            <li>
               <a href="{% url 'view_timetable' %}"><i class="fas fa-table"></i> <span>Time Table</span></a>
            </li>
            <li >
               <a href="{% url 'library' %}"><i class="fas fa-book"></i> <span>Library</span></a>
               </li>
            <li>
               <a href="{% url 'holiday_list' %}"><i class="fas fa-holly-berry"></i> <span>Holidays List</span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> <span> Logout </span></a>
            </li>
         </ul>
         {% endif %}
         </div>
   </div>
</div>
