{% extends 'base.html' %}

{% block content %}


<div class="content container-fluid">
    <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Students</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Students</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="{% url 'add_student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                <table  id="table_id" class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>DOB</th>
                            <th>Parent Name</th>
                            <th>Gender</th>
                            <th>Mobile Number</th>
                            <th>Address</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    {% for student in students %}
                    <tbody>
                        <tr>
                            <td>{{student.student_id}}</td>
                            <td>
                            <h2 class="table-avatar">
                                <!-- <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/avatar-01.jpg" alt="User Image"></a> -->
                                <a href="student-details.html">{{student.name}}</a>
                            </h2>
                            </td>
                            <td>{{ student.Branch }} {{ student.section }}</td>
                            <td>{{ student.date_of_birth }}</td>
                            <td>{{student.father_name}}</td>
                            <td>{{student.gender}}</td>
                            <td>{{ student.mobile_number }}</td>
                            <td>{{ student.address }}</td>
                            <td class="text-right">
                            <div class="actions">
                                <a href="{% url 'edit_student' student.id %}" class="btn btn-sm bg-success-light mr-2">
                                <i class="fas fa-pen"></i>
                                </a>
                                <a href="{% url 'delete_student' student.id %}" class="btn btn-sm bg-danger-light">
                                <i class="fas fa-trash"></i>
                                </a>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}